@import "tailwindcss";

@keyframes translateAnimation {
  0% {
    transform: translate(-3rem, 3rem) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(0.5);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    transform: scaleY(0);
    transform-origin: 0 100%;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0 100%;
    opacity: 1;
  }
}

.animate-first-element {
  transform: scale(0.5);
  animation: translateAnimation 0.5s ease-in-out 0s forwards,
    scaleAnimation 0.5s ease-in-out 0.5s forwards;
}

.animate-top {
  animation: scale-in-ver-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}

.animate-right {
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.animate-left {
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.animate-bottom {
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}
